<!DOCTYPE html>
<html lang="en">
<body>
    <h1>404</h1>
    <p>Oops! The page you're looking for can't be found.</p>
    <img src="404.png" alt="Cute dog">
    <p>Go back to <a href="/">Home</a></p>
</body>
</html>
