header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    padding: 1rem;
    background: var(--black);
    color: white;
    font-size: 1.2rem;
}

header ul {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header ul li {
    list-style-type: none;
}
